/* reset */
* {
  margin: 0;
}

/* common */
.container {
  width: 1024px;
  margin: auto;
}
.highlights {
  background-color: yellow;
}
/* header */
header {
  background-color: aquamarine;
  background-image: url("../img/pattern.png");
  background-size: 450px;
}
.logo {
  height: 90px;
  margin-top: 20px;
}

/* main */
h1 {
  font-size: 40px;
}
main {
  margin-top: 20px;
}
.autore {
  font-size: 25px;
  color: gray;
}
.autore span {
  color: lightblue;
}
.data {
  font-size: 12px;
  color: gray;
}
.photos {
  margin-top: 20px;
}
.caption {
  font-size: 10px;
}
.article-body {
  margin-top: 20px;
}
.list {
  margin-top: 20px;
}
