/* reset */
* {
  margin: 0;
}

/* common */
.container {
  width: 1024px;
  margin: auto;
}
.highlights {
  background-color: yellow;
}
/* header */
header {
  background-color: cornflowerblue;
  background-image: url("../img/pattern.png");
  background-size: 450px;
}
.logo {
  height: 50px;
  margin-top: 40px;
}

/* main */
h1 {
  font-size: 40px;
}
main {
  margin-top: 20px;
}
.autore {
  font-size: 25px;
  color: gray;
}
.autore span {
  color: dodgerblue;
}
.data {
  font-size: 12px;
  color: gray;
}
.photos {
  margin-top: 20px;
}
.caption {
  font-size: 10px;
}
.article-body {
  margin-top: 20px;
}
.list {
  margin-top: 20px;
}
table {
  margin-top: 20px;
  border-spacing: 0;
}

table .text {
  width: 50%;
}

table th {
  text-align: left;
}

table thead {
  background-color: dodgerblue;
  color: white;
}

table .dispari {
  background-color: lightskyblue;
}
/* footer */
footer {
  margin-top: 20px;
}
.pi {
  color: gray;
}
.back-img {
  width: 200px;
  height: 150px;
  color: white;
  font-size: 20px;
  background-size: cover;
  margin-top: 10px;
}
#computer {
  background-image: url("../img/monitor.jpg");
}
#graph {
  background-image: url("../img/graph.jpg");
}
